  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));">
    <div class="container">
      <h1>Save any kind of movies</h1>
      <p>classic</p>
    </div>
  </div>

<div class="container">
  <div class="cards">
  <% @lists.each do |list| %>
  <div class="card-category">
  <%= link_to list.name, list_path(list) %>
  <div class="card-trip">
    <img src="<%= !list.movies.first.nil? ? list.movies.first.poster_url : 'https://unsplash.com/photos/movie-clapper-on-wooden-background-3d-illustration-LqjwbiEK9Y0' %>" alt="idk" >
    <div class="card-trip-infos">
      <div>
        <h2><%= list.name %></h2>
      </div>
    </div>
  </div>
  </div>
  <% end %>
  </div>
</div>
